---
- name: restart nginx
  systemd:
    name: nginx
    state: restarted

- name: restart rsyslog
  systemd:
    name: rsyslog
    state: restarted

- name: restart filebeat
  systemd:
    name: filebeat
    state: restarted

- name: restart auditd
  systemd:
    name: auditd
    state: restarted
