---
- name: Install FRR
  apt:
    name: frr
    state: present
    update_cache: yes

- name: Install base tools
  apt:
    name:
      - vim
      - traceroute
      - tcpdump
      - net-tools
    state: present

- name: Enable IP Forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: yes

- name: Configure FRR daemons
  template:
    src: daemons.j2
    dest: /etc/frr/daemons
  notify: restart frr

- name: Configure FRR
  template:
    src: frr.conf.j2
    dest: /etc/frr/frr.conf
    owner: frr
    group: frr
    mode: '0640'
  notify: restart frr

- name: Ensure FRR is started and enabled
  service:
    name: frr
    state: started
    enabled: yes
