---
- name: Обновление apt кэша
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Установка Nginx
  apt:
    name: nginx
    state: present
  notify: restart nginx

- name: Template virtual host
  template:
    src: nginx-vhost.conf.j2
    dest: "/etc/nginx/sites-available/default"
    mode: '0644'
  notify: restart nginx

- name: Установка auditd
  apt:
    name: 
      - auditd
      - audispd-plugins
    state: present

- name: Копирование правил audit для nginx
  template:
    src: nginx-audit.rules.j2
    dest: /etc/audit/rules.d/nginx-audit.rules
    mode: '0640'
  notify: restart auditd

- name: Enable rsyslog nginx config
  template:
    src: rsyslog-nginx.conf.j2
    dest: /etc/rsyslog.d/10-nginx.conf
    mode: '0644'
  notify: restart rsyslog

- name: Enable and start services
  systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
  loop:
    - auditd
    - rsyslog
    - nginx
