filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/nginx/access.log
    - /var/log/nginx/error.log
  fields:
    logtype: nginx
  fields_under_root: true

output.logstash:
  hosts: ["158.160.191.119:5044"]

logging.level: info
