server {
    listen 80;
    server_name _;
    access_log syslog:server=unix:/dev/log,tag=nginx_access;
    error_log syslog:server=unix:/dev/log,tag=nginx_error warn;
    error_log /var/log/nginx/critical.log crit;
    location / {
        root /var/www/html;
        index index.html;
    }
}
