$ModLoad imfile
$InputFilePollInterval 10
$PrivDropToGroup adm
$WorkDirectory /var/spool/rsyslog

# следим за error-логом nginx
$InputFileName /var/log/nginx/error.log
$InputFileTag nginx-error:
$InputFileStateFile stat-nginx-error
$InputFileSeverity error
$InputFileFacility local0
$InputRunFileMonitor

# локальный критичный файл
local0.*        /var/log/nginx/critical.log
# удалённый сервер
local0.*        @@158.160.191.119:514
