$ModLoad imfile
$InputFilePollInterval 10
$PrivDropToGroup adm
$WorkDirectory /var/spool/rsyslog

# следим за audit-логом (только удаленно)
$InputFileName /var/log/audit/audit.log
$InputFileTag audit:
$InputFileStateFile stat-audit
$InputFileSeverity notice
$InputFileFacility local2
$InputRunFileMonitor

# Отправка audit логов на удаленный сервер
if $syslogtag == 'audit:' then {
    @@{{ log_server_ip }}:514
    stop
}

# Отправка nginx логов на удаленный сервер (syslog input)
if $programname == 'nginx_access' then {
    @@{{ log_server_ip }}:514
    stop
}

if $programname == 'nginx_error' then {
    @@{{ log_server_ip }}:514
    stop
}
