[speedtest]
user = www-data
group = www-data
listen = /run/php/php{{ php_version }}-fpm-speedtest.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = dynamic
pm.max_children = 20
pm.start_servers = 5
pm.min_spare_servers = 3
pm.max_spare_servers = 10
pm.max_requests = 500

php_admin_value[upload_max_filesize] = 25M
php_admin_value[post_max_size] = 35M
php_admin_value[memory_limit] = 128M
php_admin_value[max_execution_time] = 120

php_admin_value[error_log] = /var/log/php-fpm/speedtest-error.log
php_admin_flag[log_errors] = on

catch_workers_output = yes
