<?php
$db_type = 'postgresql';
$stats_password = '{{ librespeed_stats_password }}';
$enable_id_obfuscation = true;
$redact_ip_addresses = false;
$PostgreSql_username = '{{ pg_speedtest_user }}';
$PostgreSql_password = '{{ pg_speedtest_password }}';
$PostgreSql_hostname = '{{ backend_db_ip }}';
$PostgreSql_databasename = '{{ pg_speedtest_db }}';
