yc_token             = "YOUR_YC_OAUTH_TOKEN"
yc_cloud_id          = "YOUR_CLOUD_ID"
yc_folder_id         = "YOUR_FOLDER_ID"
yc_zone              = "ru-central1-b"
ubuntu_image_id      = "fd8autg36kchufhej85b"
ssh_public_key_path  = "~/.ssh/id_rsa.pub"
ssh_private_key_path = "~/.ssh/id_rsa"
ssh_user             = "ubuntu"
admin_cidr           = "YOUR_IP/32"
domain_name          = "xn----ctbkoedricefmgyd0k.xn--p1ai"
certbot_email        = "admin@example.com"
